<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{pageTitle}}</title>
</head>
<body>
<div class="container">
    <div class="resume-header">
        <h1>Hojiakbar Karimov</h1>
    </div>
    <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Full Stack Javascript Developer</h3>
        </div>
        <div class="col-md-3 social-icons float-right">
        <a href="https://github.com/mredem96"><i class="fa fa-github"></i> </a>
        <a href="https://www.linkedin.com/in/hojiakbar-karimov-890901133/"><i class="fa fa-linkedin"></i></a>
        <a href="@Reactuz"> <i class="fa fa-telegram"></i></a>
        <a href="https://desolate-ridge-93962.herokuapp.com/"><i class="fa fa-chrome"></i></a>
        
        </div>
        
    </div>
    <div class="container candidate-description">
    <h6>
        An accomplished Software Engineer specializing in Web and Android Development with small experience but  huge knowledge in the full 
        life cycle of the Software design and process,
        fullstack development of various application in 
        different platform and programming languages.
    
    </h6>
    <h6>Telegram:+998 97 999 9217</h6>
    <h6>Username:@Reactuz</h6>
    <h6>Contact:+998 97 999 9217 or +998 99 865 9217</h6>
    </div>
    <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Front End Development</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>HTML and HTML5</h6>
    <h6>CSS3</h6>
    <h6>Bootstrap 4.</h6>
    <h6>Jquery</h6>
    <h6>Javascript end to end solutions</h6>
    <p>Additional:React and React Native upcoming month</p>
    </div>
    <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Back End Skills</h3>
    </div>
    </div>
    <div class="container candidate-description">
    <h6>NodeJS</h6>
    <h6>Express framework</h6>
    <h6>REST APIs</h6>
    <h6>Some of popular npm modules</h6>
    <p>Exprience needed</p>
   </div>
       <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Database Skills</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>MongoDB</h6>
    <h6>MongooseJS</h6>
    <p>Database skills level Beginner needs practice</p>
    </div>
       <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Version Control and Deployment</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>Git and GitHub</h6>
    <h6>Deployed three mini projects on Heroku</h6>
    </div>
       <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Design Skills</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>Adobe Photoshop</h6>
    <h6>Illustrator</h6>
    <h6>Adobe XD</h6>
    <p>As a Developer</p>
    </div>
       <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Language skills</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>Uzbek ----- Native</h6>
    <h6>English -- Advanced</h6>
    <h6>Russian -- Beginner</h6>
    </div>
    <div class="row line-bar">
        <div class="col-md-9 float-left">
        <h3>Additional</h3>
        </div>
    </div>
    <div class="container candidate-description">
    <h6>I have projects and portfolio</h6>
    <p>For more details contact me.</p>
    </div>
  
    
</div>  



<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
   
 
</body>
</html>